/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* Overall body styling */
 :root {
  --primary-color: #5ce1e6;
  --accent-color: #A280E3;
  --secondary-color: #E0F7FA;
  --background-color: white;
  --shade-background-color: whitesmoke;
  --text-color: #20504F;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  cursor:auto; 
}

/* START PAGE */

.start-page {
  display: flex;
  width: 100%; 
  min-height: 100vh;
  justify-content: space-around; 
  justify-content: center;
  align-items: center; 
  padding: 20px; 
  box-sizing: border-box; 
}

.faebook-title {
  font-size: 4em; 
  font-weight: bold; 
  color: var(--primary-color);
  flex-basis: 50%; 
}

.faebook-motto {
  font-size: 1.5em; 
  color: var(--text-color);
  padding-right: 40px;
  margin-right: 40px
}

.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-basis: 40%; 
  display: flex;
  flex-direction: column;
}

.login-form form {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.login-form input[type="text"],
.login-form input[type="password"] {
  padding: 14px;
  margin-bottom: 10px;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  font-size: 17px;
}

.login-form button {
  padding: 10px 0;
  background-color: var(--primary-color);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: var(--secondary-color);
}

.signup-button {
  background-color: var(--accent-color); 
  color: white; 
  padding: 10px 0;
  font-size: 17px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.separator {
  border-top: 1px solid #dddfe2; 
  margin-top: 20px; 
  margin-bottom: 15px; 
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.ReactModal__Content {
  position: relative;
  background: white;
  border-radius: 8px;
  padding: 30px;
  max-width: 500px; 
  outline: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

/* Sign Up form styling */
.signup-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup-header h1 {
  color: var(--primary-color);
  margin-bottom: 0.5em;
}

.signup-header p {
  color: var(--text-color);
  margin-bottom: 1em;
}

.signup-form form {
  display: flex;
  flex-direction: column;
}

.signup-form input[type="text"],
.signup-form input[type="password"],
.signup-form input[type="date"],
.signup-form input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  font-size: 17px;
}

.dob {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--text-color);
}

.signup-form button {
  margin-top: 20px;
  padding: 10px 0;
  background-color: var(--accent-color);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.close-modal-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 1.5em;
  color: var(--text-color);
}

/* Nav Bar */

.nav-bar {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px; 
  box-shadow: 0 2px 4px rgba(8, 5, 5, 0.1);
  height: 40px;
}

.nav-left, .nav-center, .nav-right {
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 36px;
  width: 36px;
  font-size: 24px; 
  font-weight: bold;
  padding-right: 20px;
  color: var(--primary-color);
}

.nav-logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.nav-search input[type="search"] {
  background-color: var(--secondary-color);
  border: 1px solid #ccd0d5;
  border-radius: 18px;
  padding: 5px 15px;
  font-size: 15px;
  width: 220px;
}

.nav-search input[type="search"]:hover {
  background-color: var(--accent-color);
  cursor:auto;
}
.nav-search input[type="search"]::placeholder {
  color: var(--primary-color);
}

.nav-center {
  flex-grow: 1; 
  justify-content: center; 
}

.nav-friends-button {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.nav-home-button {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.nav-groups-button {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.nav-more-button {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  bottom: 6px;
  top: 6px;
}

/* Nav right */

.nav-create-button {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  bottom: 6px;
  top: 6px;
}

.nav-messenger-button {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  bottom: 6px;
  top: 6px;
}

.nav-notifications-button {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  bottom: 6px;
  top: 6px;
}

.nav-account-button {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  bottom: 6px;
  top: 6px;
}

.nav-home-button, .nav-friends-button, .nav-more-button, .nav-groups-button,
.nav-create-button, .nav-menu-button, .nav-messenger-button,
.nav-notifications-button, .nav-account-button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 50%;  */
  width: 36px; 
  height: 36px; 
  margin: 0 4px;
}

.nav-home-button:hover, .nav-friends-button:hover, .nav-groups-button:hover, .nav-more-button:hover {
  border-bottom: 5px solid var(--accent-color);
  cursor: pointer;
}

.nav-create-button:hover, .nav-messenger-button:hover, .nav-notifications-button:hover, .nav-messenger-button:hover,
 .nav-account-button:hover {
  border: 3px solid var(--accent-color);
  border-radius: 50%;
  cursor: pointer;
}


/* Profile Header */

.profile-header-container {
  padding: 10px;
}

.profile-header {
  position: relative;
}

.cover-photo-container {
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: var(--background-color);
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.cover-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.cover-photo-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.cover-photo-button:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.profile-photo-background {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 118px; 
  left: 12px; 
  z-index: 8; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo-container {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 125px;
  left: 20px; 
  /* transform: translateX(-50%); */
  z-index: 9;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}


.profile-display-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.nav-button-icon, .profile-photo-edit-image {
  width: 36px; 
  height: 36px;
  background: transparent; 
  object-fit: cover; 
  border-radius: 50%; 
}

.profile-photo-button {
  background-color: var(--primary-color);
  position: absolute;
  z-index: 12;
  left: 100px;
  border: none; 
  background: transparent; 
  cursor: pointer;
}

.profile-photo-button:hover {
  background-color: var(--primary-color);
  border-radius: 50%;
}


.profile-display-name {
  position: relative;
  margin-left: 160px;
  margin-top: 10px;
  color: var(--text-color)
}


.profile-header button {
  padding: 8px 12px;
  /* background-color: var(--background-color); */
  color: var(--text-color);
  font-size: 12px; 
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
  margin-right: 9px; 
}

.profile-header-nav-buttons button:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}


.profile-header-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.profile-header-nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 10px; 
  height: 1px; 
  background: rgba(0, 0, 0, 0.1); 
}

.profile-header-nav a {
  color: var(--accent-color);
  padding: 5px 10px;
  text-decoration: none;
}

.profile-header-nav-left {
  display: flex;
}

.photo-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-uploader input[type="file"] {
  border-radius: 5px;
  padding: 6px;
}
.photo-uploader input[type="text"] {
  border-radius: 5px;
  width: 90%;
  margin: 8px;
  padding: 8px;
  background: var(--secondary-color);
}

.photo-uploader input[type="file"]::-webkit-file-upload-button {
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
  background: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.photo-uploader input[type="file"]::-webkit-file-upload-button:hover, .photo-uploader button:hover {
  background: var(--accent-color);
  color: var(--primary-color);
}

.spinner {
  padding: 8px;
  margin: 8px;
}

/* .photo-uploader input:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: 1px solid #dddfe2;
  border-radius: 5px;
} */

.photo-uploader button {
  margin-top: 20px; 
  border-radius: 5px;
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* PROFILE PAGE - PHOTOS*/

.profile-pages-container {
  background-color: var(--secondary-color);
  padding: 10px;

}


.photos-container {
  position: relative;
  background-color: white;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
}

.photos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
  font-size: 18px;
}

.photos-header div:nth-child(2) {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.add-photo-button {
  padding: 8px 12px;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-size: 16px; 
  font-weight: bolder; 

  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
  margin-right: 9px; 
}

.photo-header-more-button {
  padding: 8px 12px;
  background-color: var(--shade-background-color);
  color: var(--text-color);
  font-size: 14px;
  font-weight: bolder; 
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
  margin-right: 9px; 
}

.photos-container nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 6px;
}

.photos-nav a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
  opacity: 0.7;
  padding: 10px;
}

.photos-nav a:hover {
  background-color: var(--shade-background-color);
  border-radius: 4px;
}

.photos-nav a.active, .photos-nav a.active:hover {
  color: var(--primary-color);
  background-color: transparent;
  border-bottom: 4px solid var(--primary-color);
}
/* Albums */

.albums-list {
  display: flex;
  justify-content: start;
  padding-inline-start: 5px;
}

.albums-list > li {
  width: 150px;
  height: 200px;
  /* border-color: 1px solid red; */
  margin: 10px;
}

.album-cover {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;

}

.album-cover:hover {
  text-decoration: underline;
}

.album-cover div:first-child {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  border-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.album-cover-photo-create {

  background-color: var(--shade-background-color);


}


.album-cover-photo {
  width: inherit;
  height: inherit;
  object-fit: cover;
  overflow: hidden;
  display: block;
  border-radius: 5px;
}

.album-cover-title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}

.album-cover-items-number {
  font-size: 12px;
  margin-top: 2px;

}









/* NOT IMPLEMENTED YET*/
/* .nav-home-button, .nav-friends-button, .nav-groups-button,
.nav-friend-requests-button, .nav-menu-button, .nav-messenger-button,
.nav-notifications-button, .nav-account-button, .nav-search, .nav-logo {
  color: red;
} */


@media only screen and (max-width: 600px) {
  .start-page {
    flex-direction: column;
    padding: 10px;
  }

  .faebook-title, .login-container {
    flex-basis: auto; 
  }

  .faebook-motto {
    padding-right: 20px;
    margin-right: 20px;
    font-size: 1em; 
  }

  .login-form input[type="text"],
  .login-form input[type="password"] {
    padding: 12px;
  }

  .profile-photo-container {
    width: 80px;
    height: 80px;
    top: 90px;
    left: 10px
  }

  .cover-photo-container {
    height: 135px;
  }

  .profile-display-name {
    margin-left: 100px;
    margin-top: 10px;
    font-size: 18px;
  }

  .profile-photo-button {
    left: 60px;
   }

  .profile-header button {
    padding: 6px 8px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 8px; 
    border-radius: 3px;
    border-color: transparent;
    cursor:pointer;
    margin-right: 8px; 
  }

  .profile-header-nav a {
    font-size: 12px;
  }
  

}
