/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* Overall body styling */
 :root {
  --primary-color: #4ef7dd;
  --secondary-color: #3DCCC7;
  --accent-color: #A280E3;
  --background-color: #E0F7FA;
  --text-color: #20504F;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}




/* START PAGE */

.start-page {
  width: 100%; 
  max-width: 900px; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px; 
  box-sizing: border-box; 
}

.faebook-title {
  font-size: 4em; 
  font-weight: bold; 
  color: var(--primary-color);
  flex-basis: 50%; 
}

.faebook-motto {
  font-size: 1.5em; 
  color: var(--text-color);
  padding-right: 40px;
  margin-right: 40px
}



.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-basis: 40%; 
  display: flex;
  flex-direction: column;
}

.login-form form {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.login-form input[type="text"],
.login-form input[type="password"] {
  padding: 14px;
  margin-bottom: 10px;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  font-size: 17px;
}

.login-form button {
  padding: 10px 0;
  background-color: var(--primary-color);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: var(--secondary-color);
}

.signup-button {
  background-color: var(--accent-color); 
  color: white; 
  padding: 10px 0;
  font-size: 17px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.separator {
  border-top: 1px solid #dddfe2; 
  margin-top: 20px; 
  margin-bottom: 15px; 
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.ReactModal__Content {
  position: relative;
  background: white;
  border-radius: 8px;
  padding: 30px;
  max-width: 500px; 
  outline: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

/* Sign Up form styling */
.signup-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup-header h1 {
  color: var(--primary-color);
  margin-bottom: 0.5em;
}

.signup-header p {
  color: var(--text-color);
  margin-bottom: 1em;
}

.signup-form form {
  display: flex;
  flex-direction: column;
}

.signup-form input[type="text"],
.signup-form input[type="password"],
.signup-form input[type="date"],
.signup-form input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  font-size: 17px;
}

.dob {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--text-color);
}

.signup-form button {
  margin-top: 20px;
  padding: 10px 0;
  background-color: var(--accent-color);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.close-modal-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 1.5em;
  color: var(--text-color);
}

@media only screen and (max-width: 600px) {
  .start-page {
    flex-direction: column;
    padding: 10px;
  }

  .faebook-title, .login-container {
    flex-basis: auto; 
  }

  .faebook-motto {
    padding-right: 20px;
    margin-right: 20px;
    font-size: 1em; /* Adjust the font size as needed */
  }

  .login-form input[type="text"],
  .login-form input[type="password"] {
    padding: 12px;
  }

  /* Adjust other styles as needed */
}
